nav {
  z-index: 999;
}
.home {
  /* overflow: auto; */
  position: relative;
}
.home::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url("../public/BG_image.jpg");
  background-size: cover;
  height: 98vh;
  width: 98vw;

  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}
.main {
  scroll-snap-type: y mandatory;
}
.bgopacity {
  opacity: 0.4;
}
.upload-btn-wrapper {
  position: relative;
  top: 50%;
  overflow: hidden;
  display: inline-block;
}
/* .check {
  position: relative;
  top: 60%;
} */
.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
